body{
    height: 100vh;
    width: 100vw;
    margin: 0px;
    padding: 0px;
    font-family: 'Prata', serif;
}
/* SECTION 1: HEADER */
header{
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    color: rgba(0, 0, 0, 0.753);
    background-image: url("./assets/oceanbackground.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Prata', serif;
}
h1{
    padding-bottom: 35px;
    border-bottom: 1px solid black;
}
nav{
    position: fixed;
    display: inline;
    width: 100vw;
    text-align: center;
    align-self: flex-start;
    background: rgba(0, 0, 0, 0.644);
    z-index: 2;


}
nav li{
    position: relative;
    display: inline;
}
ul{
    list-style-type: none;
    text-decoration: none; 
}
li {
    margin-left: 150px;
    margin-right: 150px;
    padding: 10px;

}
li:hover{
    opacity: 5;
    border: 1px solid white;
    transition: border 5s;
}
nav a{
    text-decoration: none;
    /* color: darkseagreen; */
    color:rgb(255, 250, 240);
}
.box-title{
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
    height: 250px;
    width: 375px;
    box-shadow: 0 0 0 1px rgb(244, 164, 96, 75%);
}

/* SECTION 2: ABOUT ME */
#photo-of-me{
    position: relative;
    max-width: 50%;
    height: auto;
    margin-top: 2%;
    margin-right: 50px;
    box-shadow: 0 0 0 5px rgba(0, 0, 0, 75%);
}
#photo-of-me:hover{
    transition: border 2s ease;
    border: 0px solid rgb(255, 255, 255);
    
}
#about-me{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    padding-bottom: 50px;
    background-color: rgb(244, 164, 96, 75%);
}

#bio{
    position: relative;
    height: auto;
    width: 500px;
    border: 1px solid black;
    text-align: center;
    margin: auto;
    opacity: 75%;
    padding: 10px;
}
#bio h2{
    display: inline;
    border-bottom: 1px solid black;
    width: 90px;
}


/* section 3: MY WORK */

#my-work{
    height: 100vh;
    width: 100vw;
    background:rgb(179, 246, 255);
    display: flex;
    flex-direction: column;
    align-items: center;
}
#subtitle-3{

    margin: 0px;
    padding: 2%;
    text-align: center;
    border-bottom: 1px solid black;
    padding-bottom: 0px;
    width: 8%;
}
#photos-container img{
    box-shadow: 0 0 0 5px rgba(0, 0, 0, 75%);
    margin: auto;
}

#photos-container img:hover{
    opacity: 20%;
    transition: opacity 2s;
}
#photos-container{
    margin: auto;
    height: 80%;
    width: 90%;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;    
    /* justify-content: center;
    align-content: center; */
    justify-content: space-evenly; 
}
#photo-1{
    height: auto;
    width: 50%;
    margin: 0px;
    padding: 0px;
}
#photo-2{
    height: auto;
    width: 14.75%;
    /* order: -1; */
}
#photo-3{
    height: auto;
    width: 14.5%;
    order: -1;
}
#photo-4{
    height: auto;
    width: 22.5%;
    order: -1;
}


/* SECTION 4: CONTACT INFO */

#contact-info{
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center; 
    background-color: rosybrown;
}
#subtitle-4{
    border-bottom: 1px solid black;
}
#info-sheet{
    border: 1px solid black;
    text-align: center;
    width: 30%;
    height: 40%;
    background-color: rgba(255, 248, 220, 0.753);
    margin: auto;
} 

@media (max-width: 576px){
    #photo-of-me {
        height: auto;
        width: 300px;
    }
    nav{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    #about-me {
        display: flex;
        flex-direction: column;
    }
}
