body{
    margin: 0px;
    padding: 0px;
    background-color: #3f87a6;
}

header{
    position: relative;
    background: linear-gradient(#f3b879, #3f87a6);
    font-family: 'Montserrat', sans-serif;
    font-weight: 100; 
    padding-bottom: 50px;

}
/* header{
    position: relative;
    background: linear-gradient(#f69d3c, #3f87a6);
    font-family: 'Montserrat', sans-serif;
    font-weight: 100; 

} */
h1{
    display: flex;
    justify-content: flex-start;
    display: inline-block;
    margin-left: 10px;
    font-family: 'Poiret One', cursive;
    font-weight: 400;
}
nav{
    display: flex;
    justify-content: flex-end;
    display: inline-block;
    padding-left: 65%;
}
ul{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    list-style-type: none;
    text-decoration: none;
}
li{
    padding: 5px;
}
a{
    text-decoration: none;
}
/* img{
    position: relative;
    max-width: 50%;
    height: auto;
    border: 1px solid white;
    box-shadow: 0 0 25px rgba(0, 0, 0, 75%);
}
#about-me{
    display: flex;
    justify-content: center;
} */
