body{
    height: 100vh;
    width: 100vw;
    margin: 0px;
    padding: 0px;
    font-family: 'Prata', serif;
}
a{
    color: white;
}

/* SECTION 1: Navbar */
.burger {
    width: 30px;
    height: 2px;
    background-color: white;
    margin: 8px 0 0 10px;
    transform: rotate(-45deg) translate(-9px, 6px);
    cursor: pointer;
  }
nav{
    position: fixed;
    display: inline;
    text-align: center;
    align-self: flex-start;
    padding-top: 1%;
    background: rgba(0, 0, 0, 0.644);
    z-index: 2;
}
ul{
    list-style-type: none;
}
li {
    margin: 0;
}
li:hover{
    cursor: pointer;
    border: 1px solid white;
    transition: border 5s ease;
}
nav a{
    text-decoration: none;
    color:rgb(255, 250, 240);
}

/* SECTION 1: Background */
#home{
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    color: rgba(0, 0, 0, 0.671);
    background-color: black;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Prata', serif;

}
h1{
    padding-bottom: 3%;
    border-bottom: 1px solid black;
    color: rgba(255, 255, 255, 0.856);
}
.box-title{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
    padding: 10%;
    border-radius: 50%;
    height: 400px;
    width: 400px;
    box-shadow: 0 0 0 1px rgb(244, 164, 96, 75%);
    background-color: rgba(244, 165, 96, 0.568);
    cursor: pointer;
    transition: transform 2s;
}
.box-title:hover{
    transform: rotate(360deg);
}

/* SECTION 2: ABOUT ME */
#about-me{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    background-color: black;
}
#bio{
    position: relative;
    width: 500px;
    margin: 0;
    opacity: 80%;
    padding: 10px;
    color: white;
}
#bio h2{
    display: inline;
    border-bottom: 1px solid rgba(244, 165, 96, 0.568);
    width: 90px;
    /* font-size: 55px; */
}
#bio p{
    display: block;
    margin-top: 2%;
    color: rgba(255, 255, 255, 0.726);
}

/* section 3: MY WORK */
#my-work{
    height: 100vh;
    width: 100vw;
    background: black;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}
/* #subtitle-mirror{
    position: absolute;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: flex-end;
    padding-bottom: 0px;
    color: rgba(255, 255, 255, 0.801);
    width: 14%;
    height: 27%;
    top: 204%;
    left: 45%;
    border: 100px solid rgba(244, 165, 96, 0.479);
    border-radius: 50%;
} */
/* #subtitle-mirror-2{
    position: absolute;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    align-items: center;
    padding-bottom: 0px;
    color: rgba(255, 255, 255, 0.801);
    width: 14%;
    height: 27%;
    top: 212%;
    left: 40%;
    border: 100px solid rgba(244, 165, 96, 0.479);
    border-radius: 50%;
} */
#subtitle-3{
    position: absolute;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: flex-end;
    padding-bottom: 0px;
    color: rgba(255, 255, 255, 0.801);
    width: 14%;
    height: 27%;
    top: 204%;
    left: 2%;
    border: 100px solid rgba(244, 165, 96, 0.479);
    border-radius: 50%;
}
#app-container{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    text-align: center;
    margin: 0%;
    width: 70%;
    height: 70%;
    color: rgba(255, 255, 255, 0.692);
}
#container-1{
    position: relative;
    display: inline-block;
    width: 450px;
    height: 150px;
}
#container-2{
    position: relative;
    display: inline-block;
    width: 450px;
    height: 150px;
}
#app-1{
    font-size: 60px;
    border-right: 1px solid rgba(244, 165, 96, 0.966);
    cursor: pointer;
    margin-bottom: 10%;
}
#app-2{
    font-size: 60px;
    margin-bottom: 10%;
    cursor: pointer;
}
#app-1:hover{
    opacity: 50%;
}
#app-2:hover{
    opacity: 50%;

}
#pic-1{
    position: relative;
    height: 150%;
    opacity: 0%;
    cursor: pointer;
}
#pic-2{
    position: relative;
    height: 150%;
    margin-top: 69px;
    z-index: 0;
    opacity: 0%;
    cursor: pointer;
}
#view-app-1{
    color: white;
    display: inline-block;
    opacity: 0%;
}
#view-app-2{
    color: white;
    display: inline-block;
    opacity: 0%;
}

/* SECTION 4: CONTACT INFO */
#contact-info{
    height: 100vh;
    width: 100vw;
    background-color: black;
    color: white;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: flex-end;
}
#info-sheet{
    margin: 0%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-end; 
    justify-content: space-between;
    border: 1px solid black;
    text-align: center;
    width: 30%;
    height: 40%;
} 
i{
    color: rgba(244, 165, 96, 0.575);
}

/* RESPONSIVE CSS */
@media (max-width: 576px){
    #photo-of-me {
        height: auto;
        width: 300px;
    }
    nav{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    #about-me {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}
