body{
    height: 100vh;
    width: 100vw;
    margin: 0px;
    padding: 0px;
    /* font-family: 'Prata', serif; */
}

/* SECTION 1: Navbar */
#burger-btn{
    cursor: pointer;
    width: 5%;
    height: auto;
    margin-right: 0%;
}
#burger-btn input{
    position: absolute;
    width: 4%;
    height: 40%;
    left: 1em;
    opacity: 0;
    cursor: pointer;
}
.burger {
    width: 40px;
    height: 1px;
    background-color: white;
    margin: 10px 0 0 15px;
    /* transform: rotate(-45deg) translate(-9px, 6px); */
  }
nav{
    position: fixed;
    display: inline;
    text-align: center;
    align-self: flex-start;
    padding-top: 1%;
    width: 100%;
    background: rgba(0, 0, 0, 0.644);
    z-index: 2;
}
ul{
    list-style-type: none;
}
li {
    margin: 0;
}
li:hover{
    cursor: pointer;
    border: 1px solid white;
    transition: border 5s ease;
}
nav a{
    text-decoration: none;
    color:rgb(255, 250, 240);
}

/* SECTION 1: Background */
#home{
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    flex-basis: 0;
    height: 100vh;
    width: 100vw;
    color: rgba(0, 0, 0, 0.671);
    background-color: black;
    font-family: 'Prata', serif;

}
#name-container{
    margin-bottom: 5%;
    padding-bottom: 3%;
    border-bottom: 1px solid black;
}
.box-title h1{
    margin: 0;
    color: rgba(255, 255, 255, 0.856);
}
.box-title h2{
    margin: 0%;
}
.box-title{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0%;
    border-radius: 50%;
    height: 400px;
    width: 400px;
    box-shadow: 0 0 0 1px rgb(244, 164, 96, 75%);
    background-color: rgba(244, 165, 96, 0.568);
    cursor: pointer;
    transition: transform 2s;
}
.box-title:hover{
    /* transform: rotate(360deg); */
}
.box-title h1{
    /* white-space: normal; */
}
/* SECTION 2: ABOUT ME */
#about-me{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    background-color: black;

}
#bio{
    position: relative;
    width: 500px;
    margin: 0;
    opacity: 80%;
    padding: 10px;
    color: white;
}
#bio h2{
    display: inline;
    border-bottom: 1px solid rgba(244, 165, 96, 0.568);
    width: 90px;
    /* font-size: 55px; */
    font-family: 'Prata', serif;
}
#bio p{
    display: block;
    margin-top: 2%;
    color: rgba(255, 255, 255, 0.726);
}

/* section 3: MY WORK */
#my-work{
    height: 100vh;
    width: 100vw;
    background: black;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    font-family: 'Prata', serif;
}
/* #subtitle-mirror{
    position: absolute;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: flex-end;
    padding-bottom: 0px;
    color: rgba(255, 255, 255, 0.801);
    width: 14%;
    height: 27%;
    top: 204%;
    left: 45%;
    border: 100px solid rgba(244, 165, 96, 0.479);
    border-radius: 50%;
}
#subtitle-mirror-2{
    position: absolute;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    align-items: center;
    padding-bottom: 0px;
    color: rgba(255, 255, 255, 0.801);
    width: 14%;
    height: 27%;
    top: 212%;
    left: 40%;
    border: 100px solid rgba(244, 165, 96, 0.479);
    border-radius: 50%;
} */
#subtitle-3{
    align-self: flex-start;
    position: relative;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    width: 14%;
    height: 27%;
    left: 20px;
    margin-bottom: 10%;
    padding-bottom: 0px;
    color: rgba(255, 255, 255, 0.801);
    border: 100px solid rgba(244, 165, 96, 0.479);
    border-radius: 50%;
}
#app-container{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    text-align: center;
    margin: 0%;
    width: 70%;
    height: 70%;
    color: rgba(255, 255, 255, 0.692);
}
#container-1{
    position: relative;
    display: inline-block;
    width: 450px;
    height: 150px;
}
#container-2{
    position: relative;
    display: inline-block;
    width: 450px;
    height: 150px;
}
#app-1{
    font-size: 60px;
    border-right: 1px solid rgba(244, 165, 96, 0.966);
    cursor: pointer;
    margin-bottom: 10%;
}
#app-2{
    font-size: 60px;
    margin-bottom: 10%;
    cursor: pointer;
}
#app-1:hover{
    opacity: 50%;
}
#app-2:hover{
    opacity: 50%;

}
#pic-1{
    position: relative;
    height: 150%;
    opacity: 0%;
    cursor: pointer;
}
#pic-2{
    position: relative;
    height: 150%;
    margin-top: 69px;
    z-index: 0;
    opacity: 0%;
    cursor: pointer;
}
#view-app-1{
    color: white;
    display: inline-block;
    opacity: 0%;
}
#view-app-2{
    color: white;
    display: inline-block;
    opacity: 0%;
}

/* SECTION 4: CONTACT INFO */
#contact-info{
    height: 100vh;
    width: 100vw;
    background-color: black;
    color: white;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-content: center;
    font-size: 40px;
    font-family: 'Prata', serif;
}
#contact-sheet{
    height: 40%;
    width: 100%;
    padding: 2%;
    text-align: center;
    margin: auto;
    color: rgba(244, 165, 96, 0.575);
}
#contact-sheet a{  
    border-top: 1px solid white;
    padding: 1%;
    text-decoration: none;
    color: rgba(244, 165, 96, 0.575);
}
#contact-sheet a:hover{  
    opacity: 50%;
}
#info-footer{
    margin: auto;
    margin-top: 0%;
    margin-bottom: 2%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-end; 
    justify-content: space-evenly;
    text-align: center;
    width: 30%;
    height: 10%;
} 
i{
    color: white;
}

/* RESPONSIVE CSS */

@media (max-width: 576px){
    /* section: 1 */
    /* .box-title{
        width: 300px;
        height: 300px;
    }
    .box-title h1{
        width: 75%;
    }
    .box-title h2{
        width: 60%;
        margin-left: -15%;
        text-align: left;
    } */

    /* about me */
    #bio{
        width: 100%;
        padding: 5%;
    }

    /* my work */
    #app-container{
        position: relative;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    #subtitle-3{
        align-self: center;
        height: 25%;
    }
    #app-1{
       font-size: 40px;
       padding-bottom: 0%;
       border-right: none;
       margin: 0%;
    }
    #app-2{
       margin-top: 40%;
       font-size: 40px;
    }
    #pic-2{
        margin-top: 0%;
    }

    /* contact info */
    #contact-info{
        font-size: 20px;
    }
    #contact-sheet{
        margin-top: 80%;
    }
} 

/* MOBILE RESPONSIVE STYLE */

