body{
    height: 100vh;
    width: 100vw;
    margin: 0px;
    padding: 0px;
    font-family: 'Prata', serif;
}

/* SECTION 1: Navbar */
.burger {
    width: 30px;
    height: 2px;
    background-color: white;
    margin: 8px 0 0 10px;
    transform: rotate(-45deg) translate(-9px, 6px);
    cursor: pointer;
  }
nav{
    position: fixed;
    display: inline;
    text-align: center;
    align-self: flex-start;
    padding-top: 1%;
    background: rgba(0, 0, 0, 0.644);
    z-index: 2;
}
ul{
    list-style-type: none;
}
li {
    margin: 0;
}
li:hover{
    cursor: pointer;
    border: 1px solid white;
    transition: border 5s ease;
}
nav a{
    text-decoration: none;
    color:rgb(255, 250, 240);
}

/* SECTION 1: Background */
#home{
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    color: rgba(0, 0, 0, 0.671);
    background-color: black;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Prata', serif;

}
h1{
    padding-bottom: 3%;
    border-bottom: 1px solid black;
    color: rgba(255, 255, 255, 0.856);
}
.box-title{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
    padding: 10%;
    border-radius: 50%;
    height: 400px;
    width: 400px;
    box-shadow: 0 0 0 1px rgb(244, 164, 96, 75%);
    background-color: rgba(244, 165, 96, 0.568);
    cursor: pointer;
}

/* SECTION 2: ABOUT ME */
#about-me{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: flex-start;
    /* background-color: rgb(244, 164, 96, 75%); */
    background-color: black;
    /* display: none; */
}
#subtitle-2{
    position: absolute;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    padding-bottom: 0px;
    color: rgba(255, 255, 255, 0.801);
    text-align: center;
    width: 14%;
    height: 27%;
    top: 104%;
    left: 2%;
    border: 100px solid rgba(244, 165, 96, 0.747);
    border-radius: 50%;
    z-index: 2;
}
#bio h2{
    display: inline;
    border-bottom: 1px solid rgba(244, 165, 96, 0.568);
    width: 90px;
}
#bio p{
    display: block;
    margin-top: 2%;
    color: rgba(255, 255, 255, 0.726);
}
#bio{
    position: relative;
    height: 45%;
    width: 500px;
    margin: 1%;
    margin-top: 30%;
    /* text-align: center; */
    margin: auto;
    opacity: 75%;
    padding: 10px;
    color: white;
}
#photo-of-me{
    position: absolute;
    width: 50%;
    height: auto;
    margin-top: 2%;
    margin-left: 2%;
    box-shadow: 0 0 0 5px rgba(244, 165, 96, 0.568);
}

/* section 3: MY WORK */
#my-work{
    height: 100vh;
    width: 100vw;
    background: black;
    /* border: 10px solid white; */
    border-top: none;
}
#subtitle-3{
    position: absolute;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    padding-bottom: 0px;
    color: rgba(255, 255, 255, 0.801);
    /* text-align: center; */
    width: 14%;
    height: 27%;
    top: 204%;
    left: 2%;
    border: 100px solid rgba(244, 165, 96, 0.479);
    border-radius: 50%;
}
#photos-container{
    position:absolute;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    justify-content: space-evenly;
    align-content: flex-end;
}
#photos-container div{
    position: relative;
    display: inline-block;
    width: 655px;
    height: 400px;
    margin-bottom: 2%;
    overflow: hidden;
}
#app-1{
    position: relative;
    height: 100%;
    border: 5px solid rgba(244, 165, 96, 0.479);
}
#app-2{
    position: relative;
    height: 100%;
    border: 5px solid rgba(244, 165, 96, 0.479);
}


/* SECTION 4: CONTACT INFO */
#contact-info{
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center; 
    background-color: rosybrown;
    /* display: none; */

}
#subtitle-4{
    border-bottom: 1px solid black;
}
#info-sheet{
    border: 1px solid black;
    text-align: center;
    width: 30%;
    height: 40%;
    background-color: rgba(255, 248, 220, 0.753);
    margin: auto;
} 


/* RESPONSIVE CSS */
@media (max-width: 576px){
    #photo-of-me {
        height: auto;
        width: 300px;
    }
    nav{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    #about-me {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}
